@media (min-width: 320px) {
    .lienzo {
        padding: 20px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .lienzo {
        padding: 30px;
    }
}

@media (min-width: 1024px) {
    .lienzo {
        padding: 40px;
    }
}